#prox-app {
  display: flex;
  flex-direction: column;
}

#prox-top {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
  margin-left: 50px;
}

#prox-bottom {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  margin-left: 50px;
}

#prox-title-map {
  padding: 5px;
  flex-basis: 425px;
}

#prox-photos {
}

#prox-reviews {
  padding: 5px;
}

#prox-sidebar{
  padding: 5px;
}
