#prox-app {
  display: flex;
  flex-direction: column;
}

#prox-top {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
  margin-left: 50px;
  margin-right: 50px;
}

#prox-bottom {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

#prox-title-map {
  width: 300px;
}

#prox-reviews {
  padding: 5px;
}

#prox-sidebar {
  margin-top: 15px;
  padding: 5px;
}

#prox-logo {
  height: 60px;
  margin-left: 50px;
}

#prox-header {
  height: 60px;
  background-color: #FC5D60;
}

#prox-header-bottom, #prox-header-top {
  height: 5px;
  background-color: #E54C49;
}

